{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Product List</h1>
    <div class="product-list-container">
        {% for product in products %}
            <div class="product-card">
                <h2 class="product-name">{{ product.name }}</h2>
                <p class="product-price">{{ product.price }}</p>
                <p class="product-description">{{ product.description }}</p>
                <a href="{% url 'add_to_cart' product.id %}">Agregar al carrito</a>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>

